<section class="portflio" id="portflio">
    <div class="heading">
        <h3>portflio</h3>
        <h2>My Amazing Work</h2>
        <p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
    </div>

    <div class="portflio-content">
        <div class="col">
            <img src="images/TamaraiLogoblue.png" title="image">
            <div class="layer">
                <h3> Web Design</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="images/mktabt elnas logo in orange.jpeg" title="image">
            <div class="layer">
                <h3> mini library manegment system</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="images/clothing outfits logo.jpeg" class="outfit-organizer" title="image">
            <div class="layer">
                <h3> outfit organizer</h3>
                <h5>Popup</h5>
            </div>
        </div>

        <div class="col">
            <img src="images/supermarket logo.jpg" class="mini-super-market" title="image">
            <div class="layer">
                <h3> mini super market manegment system</h3>
                <h5>Popup</h5>
            </div>
        </div>



    </div>

    </section>
