<section class="service" id="skills">
  <div *ngIf="skillsSection" class="heading">
    <h3>{{ skillsSection.sectionName }}</h3>
    <h2>{{ skillsSection.description }}</h2>
    <p class="skills-brief">{{ skillsSection.brief }}</p>
  </div>
    <div class="service-content">
    <div *ngFor="let skill of skillsSection.skills" class="row">
      <h3>{{ skill.name }}</h3>
      <p>{{ skill.description }}</p>
      <div class="s s-one">
      <img [src]="'http://localhost:3000/images/' + skill.image" alt="{{ skill.name }}" />
      </div>
    </div>
  </div>
</section>
