<section class="service" id="Skils" title="section">
  <div class="heading">
      <h3>Skills</h3>
      <h2> most important skills and programing languages for web desigen </h2>
      <p>Most common methods for designing websites that work well on desktop is responsive and adaptive design</p>
  </div>

  <div class="service-content">
      <div class="row">
          <div class="s s-one">
              <img src="./images/html icon.jpg" title="image">
          </div>
          <h3> HTML </h3>
          <h5>HTML is the standard markup language for Web pages. </h5><p> With HTML you can create your own Website. HTML is a standardised system for tagging text files that creates the structure for just about every page that we find and use on the web.</p>
      </div>

      <div class="row">
          <div class="s s-tow">
              <img src="./images/css icon.jpg" title="image">
          </div>
          <h3> CSS </h3>
          <h5>CSS is the language we use to style an HTML document. </h5><p> CSS describes how HTML elements should be displayed.CSS stands for Cascading Style Sheets, and it's used to add style to a web page by dictating how a site is displayed on a browser</p>
      </div>


      <div class="row">
          <div class="s s-three">
              <img src="./images/js icon.jpg" title="image">
          </div>
          <h3> Java Script </h3>
          <h5>JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript standard. </h5><p> JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript standard.</p>
      </div>


      <div class="row">
          <div class="s s-four">
              <img src="./images/ejs icon bgd.png" title="image">
          </div>
          <h3> EJS Templating </h3>
          <h5>EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. </h5><p> Template engine helps to create an HTML template with minimal code.Also, it can inject data into an HTML template on the client side and produce the final HTML</p>
      </div>


      <div class="row">
          <div class="s s-five">
              <img src="./images/mongo_logo.jpg"title="image">
          </div>
          <h3> Mongo DB </h3>
          <h5>MongoDB is a source-available cross-platform document-oriented database program.</h5><p> What is a MongoDB used for?
              MongoDB is built on a scale-out architecture that has become popular with developers of all kinds for developing scalable applications with evolving data schemas. </p>
      </div>


      <div class="row">
          <div class="s s-six">
              <img src="./images/node icon bgd.png"title="image">
          </div>
          <h3> Node JS </h3>
          <h5>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.
          </h5><p> Developers use Node. js to create server-side web applications, and it is perfect for data-intensive applications since it uses an asynchronous, event-driven model. </p>
      </div>


      <div class="row">
          <div class="s s-seven">
              <img src="./images/python icon.jpg"title="image">
          </div>
          <h3> Python</h3>
          <h5>Python is a popular programming language </h5><p> Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis.Python can be used on a server to create web applications. </p>
      </div>


      <div class="row">
          <div class="s s-eight">
              <img src="./images/c++ icon.jpg" title="image">
          </div>
          <h3> C++ </h3>
          <h5>C++ is a powerful general-purpose programming language. </h5><p> It can be used to develop operating systems, browsers, games, and so on. C++ supports different ways of programming like procedural, object-oriented, functional, and so on. This makes C++ powerful as well as flexible.</p>
      </div>


      <div class="row">
          <div class="s s-nine">
              <img src="./images/c icon.png" title="image">
          </div>
          <h3> C </h3>
          <h5>C is a general-purpose computer programming language. </h5><p>  It can be used to develop software like operating systems, databases, compilers, and so on.</p>
      </div>

      <div class="row">
          <div class="s s-ten">
              <img src="./images/adope photoshop icon.jpg" title="image">
          </div>
          <h3> Adope Photoshop  </h3>
          <h5>Adobe Photoshop is a raster graphics editor. </h5><p> Photoshop can edit and compose raster images in multiple layers and supports masks, alpha compositing and several color models.</p>
      </div>

  </div>

  </section>

