<section class="contact" id="Contact">
  <div class="container">
      <div class="center">
        <h3>{{ contact.title }}</h3>
        <p>{{ contact.subtitle }}</p>
          <!-- <h3>Let's chat about your ideas </h3>
          <p>Feel free to send me an email </p> -->
      </div>

          <div class="action">
          <form (ngSubmit)="submitEmail()">
          <input type="email" [(ngModel)]="email" name="email" placeholder="Eenter Your Email" required>
          <!-- <button type="submit">Submit</button> -->
              <input type="submit" name="submit" value="Submit">

          </form>
          </div>

  </div>
  </section>


  <div class="ends">
  <p> Thanks to programiz, W3schools,Wekipidia and unsplash for the amazing photos and valuable information 2023</p>
  </div>
  <script src="https://unpkg.com/scrollreveal"></script>
<!--
<script src="portflio.js"></script> -->
