<form (ngSubmit)="saveSkillsSection()">
    <label for="sectionName">Section Name:</label>
    <input id="sectionName" [(ngModel)]="skillsData.sectionName" name="sectionName" />
<!--
    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="skillsData.description" name="description"></textarea> -->

    <label for="brief">Brief:</label>
    <textarea id="brief" [(ngModel)]="skillsData.brief" name="brief"></textarea>

    <!-- <label for="image">Image URL:</label>
    <input id="image" [(ngModel)]="skillsData.image" name="image" /> -->

    <button type="submit">Save Skills Section</button>
  </form>

  <h2>Skills</h2>
  <ul>
    <li *ngFor="let skill of skillsData.skills">
      {{ skill.name }} -
      <button (click)="editSkill(skill)">Edit</button>
      <button (click)="deleteSkill(skill)">Delete</button>
    </li>
  </ul>

  <form (ngSubmit)="saveSkill()">
    <label for="skillName">Skill Name:</label>
    <input id="skillName" [(ngModel)]="skillData.name" name="skillName" />

    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="skillData.description" name="description"></textarea>

    <label for="skillImage">Skill Image:</label>
    <input type="file" id="skillImage" (change)="onFileChange($event)" />

    <button type="submit">{{ skillData._id ? 'Update Skill' : 'Save Skill' }}</button>
  </form>
