<main>
  <div class="head-title">
      <div class="left">
          <h1>Skills Section</h1>
          <ul class="breadcrumb">
              <li><i class='bx bx-chevron-right'></i></li>
          </ul>
      </div>
  </div>

  <div class="table-data">
    <div class="order">
      <form (ngSubmit)="saveSkillsSection()" class="form">
        <div class="input-box">
          <label for="sectionName">Section Name:</label>
          <input id="sectionName" [(ngModel)]="skillsData.sectionName" name="sectionName" required />
        </div>

        <div class="input-box">
          <label for="description">Description:</label>
          <textarea id="description" [(ngModel)]="skillsData.description" name="description" required></textarea>
        </div>

        <div class="input-box">
          <label for="brief">Brief:</label>
          <textarea id="brief" [(ngModel)]="skillsData.brief" name="brief" required></textarea>
        </div>

        <div *ngIf="!skillsData.sectionName || !skillsData.description || !skillsData.brief" class="error-message">
          Please fill in all required fields.
        </div>

        <button [disabled]="!skillsData.sectionName || !skillsData.description || !skillsData.brief" type="submit">Save Skills Section</button>
      </form>
    </div>
  </div>


<div style="padding:7px" >
  <h2 style="color:#cfb595">Skills:</h2>
</div>
  <div class="table-data">
    <div class="order">
  <ul>
    <li *ngFor="let skill of skillsData.skills">
      <h4>{{ skill.name }}</h4>
      <button (click)="editSkill(skill)" class="buttons">Edit</button>
      <button (click)="deleteSkill(skill)" class="buttons">Delete</button>
    </li>
  </ul>
</div>
</div>

<div class="table-data">
  <div class="order">
  <form (ngSubmit)="saveSkill()" class="form">
    <div class="input-box">
    <label for="skillName">Skill Name:</label>
    <input id="skillName" [(ngModel)]="skillData.name" name="skillName" />
  </div>

  <div class="input-box">
    <label for="description">Description:</label>
    <textarea  [(ngModel)]="skillData.description" name="description" title="textarea"></textarea>
  </div>


    <label for="skillImage">Skill Image:</label>
    <input type="file" id="skillImage" (change)="onFileChange($event)" />

    <button type="submit">{{ skillData._id ? 'Update Skill' : 'Save Skill' }}</button>
  </form>
</div>
</div>
