<!-- <section class="about" id="About">
  <div class="about-img">
     <img src="./images/about me.jpg" title="img">
  </div>
  <div class="about-text">
    <h3>I am a Designer</h3>
    <h2>I can Desigen Anything You Want</h2>
    <p>Hello! I am a junior  web designer, and I am very passionate and dedicated to my work . I have acquired the skills and knowledge necessary to make your project a sucesss. I enjoy every step of the desigen process,from discussion and collaboration.  </p>
    <a href="#" class="btn" >Hire Me</a>
    </div>

    </section> -->
    <section class="about" id="About" *ngIf="aboutData">
      <div class="about-img">
        <img [src]="'http://localhost:3000/images/' + aboutData.image" title="img" *ngIf="aboutData.image">
      </div>
      <div class="about-text">
        <h3>{{ aboutData.title }}</h3>
        <h2>{{ aboutData.subtitle }}</h2>
        <p>{{ aboutData.description }}</p>
        <a href="#" class="btn" >Hire Me</a>
      </div>
    </section>
