<form (ngSubmit)="saveAbout()">
  <label for="title">Title:</label>
  <input id="title" [(ngModel)]="aboutData.title" name="title" />

  <label for="subtitle">Subtitle:</label>
  <input id="subtitle" [(ngModel)]="aboutData.subtitle" name="subtitle" />

  <label for="description">Description:</label>
  <input id="description" [(ngModel)]="aboutData.description" name="description"/>

  <label for="image">Image URL:</label>
  <input id="image" [(ngModel)]="aboutData.image" name="image" />

  <button type="submit">Save</button>
</form>

  <button *ngIf="aboutData._id" (click)="deleteAbout()">Delete</button>


<ul>
  <li *ngFor="let about of aboutList">
    {{ about.title }} - {{ about.subtitle }}
    <button (click)="editAbout(about)">Edit</button>
  </li>
</ul>
