<!-- <head> -->
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>My Portflio</title>

<!-- <link rel="stylesheet" href="portflio.css"> -->

<link rel="stylesheet"
href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!-- </head> -->
<!-- <body> -->
    <header>
    <a class="logo">
      <img [src]="'http://localhost:3000/images/' + navbarData.logo" alt="logo image">
      <!-- <img src="/images/nermein_portfolio_logo_alex_transparent.png" title="img" > -->
  </a>
    <!-- <img [src]="navbarData.logo" alt="Logo" /> -->
<div class="bx bx-menu" id="menu-icon"></div>
<ul class="navlist">
    <!-- <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/portfolio" routerLinkActive="active">portfolio</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">skills</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">contact</a></li> -->

      <li><a href="home" class="active">{{ navbarData.home }}</a></li>
      <li><a href="#about">{{ navbarData.about }}</a></li>
      <li><a href="#portfolio">{{ navbarData.portfolio }}</a></li>
      <li><a href="#skills">{{ navbarData.skills }}</a></li>
      <li><a href="#contact">{{ navbarData.contact }}</a></li>
    </ul>
    <a [href]="'http://localhost:3000/cv/' + navbarData.cv" class="top-btn" download>Download CV</a>
</header>
<!-- </body> -->
